.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.running-text {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}