.footer {
    background-color: #333;
    color: white;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .jam-body{
    background-color: salmon;
    padding: 10px;
    font-weight: bold;
}
